@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --global-padding: 4%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(255,129,239,1) 20%, rgba(119,0,255,1) 100%);
    color: #fff;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: var(--global-padding);
    padding-right: 4%;
}

.container > h1 {
    font-size: 80px;
}

.btn {
    padding: 10px 30px;
    border: none;
    outline: none;
    background: white;
    border-radius: 10px;
    font-size: 25px;
}

.btn:hover {
    font-weight: 600;
}

.delete-note-btn {
    background-color: rgb(255, 39, 39);
}

.note-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin: 25px 0;
}

.input-box {
    position: relative;
    width: 100%;
    max-width: 550px;
    min-height: 500px;
    background: white;
    color: rgb(76, 22, 60);
    padding: 20px;
    /* margin: 20px 0; */
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 25px;
    box-shadow: 3px 9px 35px -7px rgba(0,0,0,0.36);
    transition: 0.1s;
}

.input-box:focus {
    border: 3px solid rgb(71, 71, 71);
}

/* Scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Material Symbols */
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    vertical-align: middle;
    font-size: inherit;
}