@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --global-padding: 4%;
    --background-gradient-1: linear-gradient(135deg, rgba(255,129,239,1) 20%, rgba(119,0,255,1) 100%);
    --background-gradient-2: linear-gradient(135deg, rgb(131, 129, 255) 20%, rgb(85, 0, 255) 100%);
    --background-gradient-3: linear-gradient(135deg, rgb(255, 129, 129) 20%, rgb(255, 0, 0) 100%);
    --background-gradient-4: linear-gradient(135deg, rgb(45, 45, 45) 20%, rgb(10, 10, 10) 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: var(--global-padding);
    padding-right: 4%;
}

.container > h1 {
    font-size: 80px;
    text-shadow: 2.5px 2.5px 20px rgba(0, 0, 0, 0.679);
}

.btn {
    padding: 10px 30px;
    border: none;
    outline: none;
    background: white;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 3px 9px 35px -7px rgba(0,0,0,0.36);
    transition: 0.1s;
}

.btn.icon {
    padding: 10px 10px;
}

.btn:hover {
    font-weight: 600;
    /* outline: 3px solid rgb(0, 0, 0); */
}

.note-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin: 25px 0;
}

.note {
    position: relative;
    width: 100%;
    max-width: 550px;
    min-height: 200px;
    background: white;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    outline: none;
    border: none; 
    font-size: 25px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.165);
    transition: 0.1s;
}

/* Context menu */
.context-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    padding: 10px;
    z-index: 100000;
    background: white;
    text-align: center;
    border-radius: 10px;
    /* border: 3px solid black; */
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.165);
    box-sizing: border-box;
}

.context-menu > .context-element {
    font-size: 21px;
    transition: 0.09s;
    border-radius: 10px;
    padding: 5px;
}

.context-menu > .context-element:hover {
    font-weight: 700;
    cursor: pointer;
    background: rgb(209, 209, 209);
}

.context-element.delete-note:hover {
    background: red;
}

input#note-colorpicker {
    width: 100%;
    outline: none;
    border: none;
}

.theme-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: rgba(0,0,0, 0.75);
}

.theme-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.github {
    width: 40px;
    transition: 0.1s;
}

.lower-right {
    display: flex;
    position: fixed;
    align-items: center;
    gap: 20px;
    bottom: 15px;
    right: 15px;
}

.github:hover, .theme-btn:hover { transform:scale(1.05) }

/* Scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Themes */
.theme-default { background: var(--background-gradient-1); }
.theme-blue { background: var(--background-gradient-2); }
.theme-red { background: var(--background-gradient-3); }
.theme-black { background: var(--background-gradient-4); }